/* RepositoryList.css */
.repo-card {
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  padding: 15px;
}

.repo-card:hover {
  transform: translateY(-3px);
}

.repo-details {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.repo-icons {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-size: 14px;
}

.space {
  padding: 2px;
  margin-right: 10px;
}
