* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  margin: 1rem;
  color: #333;
}

.repoList {
  background-color: #f5f5f5;
  padding: 2rem 0;
}

.repository-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.repository-list li {
  width: 25%;
  padding: 15px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.repository-list li:hover {
  transform: translateY(-3px);
}

.repo-details {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.repo-icons {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-size: 14px;
}
.space {
  padding: 2px;
  margin-right: 20px;
}
