.header-container {
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #acacac;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #454545;
    white-space: pre-wrap;
    transition: color 0.3s ease;
}

.logo:hover {
    color: #555;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 10px;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    text-decoration: none;
    color: #454545;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #555;
}

.themes {
    width: 160px;
}
